.App {
  text-align: center;
  background-color: white;
  padding: 2px 0 0 0;
}
h1{
  
  font-family:  'Roboto', sans-serif;
  margin: 70px 25px 0 0;
  padding: 20px 0;

}

.navbar {
 background-color: #6195ED;
  }
a{
  color: white;
  font-size: 20px;
}
ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 20px;
  background-color: #6195ED;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  width: 100%;
}

img{
 margin: 0 325px 0 0;
 
}

.header{
  display: flex;
  padding: 100px 0 0 0;
  justify-content: space-evenly;
  align-items: center;


}

.imgwave{
  height: 100px;
  width: 100px;
}